services:
  postgis:
    image: kartoza/postgis:${POSTGIS_VERSION_TAG}
    container_name: postgis_piling_sharable
    restart: on-failure
    env_file: .env
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      ALLOW_IP_RANGE: ${ALLOW_IP_RANGE}
      # FORCE_SSL: TRUE
      # SSL_MODE: allow
    ports:
      - 5438:${DATABASE_PORT}
    volumes:
      - pg-geodata-data:/var/lib/postgresql
      - ./postgres-config/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    networks:
      - piling-sharable-geoservices-network
    healthcheck:
      test: "PGPASSWORD=${DATABASE_PASSWORD} pg_isready -h 127.0.0.1 -U ${DATABASE_USER} -d ${DATABASE_NAME}"
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 1m
  geoserver:
    image: kartoza/geoserver:${GS_VERSION}
    container_name: geoserver_piling_sharable
    volumes:
      - geoserver-geodata-data:/opt/geoserver/data_dir
    ports:
       - 8081:8080
    restart: on-failure
    networks:
      - piling-sharable-geoservices-network
    env_file: .env
    environment:
      GEOSERVER_DATA_DIR: '/opt/geoserver/data_dir'
      GEOWEBCACHE_CACHE_DIR: '/opt/geoserver/data_dir/gwc'
      GEOSERVER_ADMIN_PASSWORD: 'geoserver'
      GEOSERVER_ADMIN_USER: 'admin'
      INITIAL_MEMORY: '2G'
      MAXIMUM_MEMORY: '4G'
      STABLE_EXTENSIONS: 'css-plugin,vectortiles-plugin'
      COMMUNITY_EXTENSIONS: 'cog-plugin'
      GEOSERVER_CONTEXT_ROOT: 'geoserver'
      SAMPLE_DATA: False
      DB_BACKEND: POSTGRES               
      HOST: ${DATABASE_HOST}                           
      POSTGRES_PORT: 5432             
      POSTGRES_DB: ${DATABASE_NAME}                  
      POSTGRES_USER: ${DATABASE_USER}    
      POSTGRES_PASS: ${DATABASE_PASSWORD}  
      # SSL_MODE: allow                    
      POSTGRES_SCHEMA: public           
      DISK_QUOTA_SIZE: 5 
    depends_on:
      postgis:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null -u admin:'geoserver' http://localhost:8080/geoserver/rest/about/version.xml"
      interval: 1m30s
      timeout: 10s
      retries: 3
  martin:
    image: ghcr.io/maplibre/martin:v0.18.1
    container_name: martin_piling_sharable
    restart: unless-stopped
    ports:
      - "3001:3000"
    # environment:
    #   - DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@postgis/${DATABASE_NAME} (pasado ahora en el martin-config.yaml)
    volumes:
      - /c/gis_pruebas/escenarios/zoran/icons/svg:/sprites/zoran:ro
      - /c/gis_pruebas/escenarios/zoran/mbtiles:/mbtiles/zoran:ro
      - .:/config
    command: --config /config/martin-config.yaml
    networks:
      - piling-sharable-geoservices-network
    depends_on:
      postgis:
        condition: service_healthy
volumes:
  geoserver-geodata-data: {}
  pg-geodata-data:

networks:
  piling-sharable-geoservices-network:
    name: piling-sharable-geoservices-network
    driver: bridge
